:root {
    --main-bg-color: #ffffff;
    --header-bg-color: #14213d;
    --text-color: #000000;
    --button-bg-color: #14213d;
    --button-text-color: #e5e5e5;
    --accent-color: #3498db;
    --accent-hover-color: #2ecc71;
    --placeholder-color: #666262;
  }
  
  /* Rest of your CSS with variables and font-family */
  .cabecalho {
    width: 100%;
    padding: 0px 40px;
    grid-area: cabecalho;
    background-color: var(--main-bg-color);
    justify-content: space-around; /* Alinhar ícones à direita */
    align-items: center; /* Alinhar verticalmente no centro */
    display: flex;
    border-bottom: 1px solid var(--text-color);
    font-family: "Arial", sans-serif;
    color: var(--text-color);
  }
  
  .logo {
    width: auto;
    height: 50px;
    border-radius: 100%;
  }
  
  /* Style for the link buttons */
  .b {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-bg-color); /* Button background color */
    color: var(--button-text-color); /* Button text color */
    text-decoration: none; /* Remove underlines from links */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove border */
    cursor: pointer; /* Show hand cursor on hover */
    margin-right: 10px; /* Space between buttons */
  }
  
  .b:hover {
    background-color: var(--accent-color);
    outline: none; /* Change the background color on hover */
  }
  
  /* Perfil */
  
  .carrinho,
  .perfil {
    /* Manter seu estilo existente */
    width: 50px;
    height: auto;
    margin-left: 10px; /* Espaço entre ícones */
  }

  .bt-comprar {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .bt-comprar:hover {
    background-color: var(--button-hover-color);
  }
  