*{
  margin: 0px;
}
:root {
  --main-bg-color: #ffffff;
  --header-bg-color: #14213d;
  --text-color: #000000;
  --button-bg-color: #14213d;
  --button-text-color: #e5e5e5;
  --accent-color: #3498db;
  --accent-hover-color: #2ecc71;
  --placeholder-color: #666262;
}

.cabecalho {
  width: 100%;
  z-index: 999;
  position: fixed;
  padding: 0vw 1vw;
  grid-area: cabecalho;
  background-color: var(--main-bg-color);
  justify-content: space-around; /* Alinhar ícones à direita */
  align-items: center; /* Alinhar verticalmente no centro */
  display: flex;
  border-bottom: 0.1vh solid var(--text-color);
  font-family: "Arial", sans-serif;
  color: var(--text-color);
}
.logo {
  width: 2.5vw; /* Reduza o tamanho da largura */
  height: 4vh;
  border-radius: 100%;
}
/* Style for the link buttons */
.b {
  width: 5vw; /* Reduza o tamanho da largura */
  height: 3vh;
  font-size: 0.6vw;
  background-color: var(--button-bg-color); /* Button background color */
  color: var(--button-text-color); /* Button text color */
  border-radius: 0.15vw; /* Rounded corners */
  border: none; /* Remove border */
  cursor: pointer;
  text-decoration: none; /* Show hand cursor on hover */
}

.b:hover {
  background-color: var(--accent-color); /* Darken the button a little */
}

/* Perfil */

.carrinho{
  width: 2.5vw;
}
.perfil {
  margin-left: 10vw;
  width: 2.5vw;
  /* Manter seu estilo existente */
}
/* Estilo para a barra de pesquisa */
.barra {
  display: none; /* A barra de pesquisa inicialmente oculta */
  background-color: #fff; /* Cor de fundo branca */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 5px; /* Cantos arredondados */
  position: absolute; /* Posição absoluta para sobrepor a imagem */
  top: 50px; /* Distância a partir do topo */
  left: 0; /* Alinhado à esquerda */
  width: 200px; /* Largura da barra de pesquisa */
  z-index: 1; /* Certifica-se de que a barra esteja acima de outros elementos */
}

/* Estilo para a imagem */
.imagem {
  cursor: pointer; /* Transforma o cursor em um ponteiro quando hover */
}

/* Estilo para a animação da imagem */
.animacao-rodar {
  animation: rodar 1s linear; /* Animação de rotação */
}

@keyframes rodar {
  0% {
    transform: rotate(0deg); /* Começa sem rotação */
  }
  100% {
    transform: rotate(360deg); /* Completa uma rotação de 360 graus */
  }
}

@media screen and (max-width: 1080px) {
  .cabecalho {
    height: 70px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .b {
    font-size: 8px;
    border-radius: 5px;
    width: 60px;
    height: 30px;
  }
  .perfil {
    width: 50px;
    height: 30px;
    margin-left: 20px;
  }
  .carrinho {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}