/* Estilos para a página index.php */

/* Reset de margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define as variáveis de cor */
:root {
  --main-bg-color: #ffffff;
  --header-bg-color: #14213d;
  --text-color: #000000;
  --link-color: #3e3c3c;
  --accent-color: #fca311;
  --button-bg-color: #14213d;
  --button-hover-color: #3498db;
  --footer-bg-color: #000000;
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "cabecalho cabecalho cabecalho" 
    "centro centro centro"
    "baixo baixo baixo";
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* Estilos para a seção central */
.centro {
  grid-area: centro;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dentro {
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.produto {
  background-image: url('../img/pc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  transition: all 0.5s;
}

.produto:hover {
  width: 120px;
  height: 120px;
}

.bt-comprar {
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.bt-comprar:hover {
  background-color: var(--button-hover-color);
}

.desc-produto {
  background-color: var(--link-color);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

/* Estilos para a seção de rodapé */
.baixo {
  grid-area: baixo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 0.5fr;
  gap: 20px;
  background-color: var(--footer-bg-color);
  padding: 20px;
  text-align: center;
}

.logo1,
.diferencial {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoL {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.escritaLogo1,
.escritaDiferencial {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.escritaL,
.escritaD {
  font-size: 16px;
  margin: 10px;
}

.fimBaixo {
  background-color: var(--header-bg-color);
  color: white;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
