:root {
    --main-bg-color: #000000;
    --accent-bg-color: #ffffff;
    --text-color: #b8aeae;
    --title-color: #ffffff;
    --line-color: #000000;
    --font-family: 'Courier New', Courier, monospace;
    --font-size: 25px;
  }
  
  * {
    margin: 0px;
    padding: 0px;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "cabecalho cabecalho"
      "sobre sobre"
      "escrita1 img1"
      "img2 escrita2"
      "banner banner";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.26fr 1fr 2.5fr 2fr 2.5fr;
    z-index: 3;
    grid-area: baixo;
    background-color: var(--main-bg-color);
    height: auto;
  }
  
  /* Parte Apresentacao */
  .sobre {
    flex-direction: column;
    grid-area: sobre;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-bg-color);
  }
  
  .apresentacao {
    font-weight: bold;
    font-size: 60px;
    color: var(--line-color);
  }
  
  .linha {
    width: 800px;
    height: 1px;
    background-color: var(--line-color);
  }
  
  /* Parte corpo texto cima */
  .part-img1 {
    padding: 20px 0px;
    grid-area: img1;
    background-color: var(--accent-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagem1 {
    width: 400px;
    height: 500px;
    background-color: var(--text-color);
  }
  
  /* Parte Escrita1 */
  .escrita1 {
    grid-area: escrita1;
    background-color: var(--accent-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .escritaL {
    padding: 0px 300px 0px 350px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--line-color);
  }
  
  /* Parte corpo texto baixo */
  .part-img2 {
    padding: 20px 0px;
    grid-area: img2;
    background-color: var(--accent-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagem2 {
    width: 400px;
    height: 500px;
    background-color: var(--text-color);
  }
  
  /* Parte Escrita2 */
  .escrita2 {
    grid-area: escrita2;
    background-color: var(--accent-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .escritaD {
    padding: 0px 300px 0px 350px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--line-color);
  }
  
  /* Parte Banner */
  .part-banner {
    grid-area: banner;
    background-color: var(--accent-bg-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner {
    background-color: var(--text-color);
    height: 400px;
    width: 1350px;
  }
  