
.cabecalho {
  width: 100%;
  z-index: 3;
  position: fixed;
  padding: 0px 40px;
  grid-area: cabecalho;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo {
  width: 100px;
  height: auto;
  border-radius: 100%;
}
.b {
  cursor: pointer;
  margin: 0px 50px;
  font-size: 15px;
  border: none;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  background-color: #14213d;
  color: #e5e5e5;
}
/* Perfil */
.perfil {
  width: 30px;
  height: auto;
}

.carrinho{
  display: flex;
  width: 30px;
  height: auto;
}

.opcao{
  display: flex;
  width: 30px;
  height: auto;
}
/*Onde é mostrado os dados da tabela do banco de dados*/
.dados {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5vh;
}
/*Aqui é o forms no qual será alterados os dados da tabela*/
.alterar_dados {
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 20vh;
}
/*Centraliza o texto*/
.centered-text {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  font-family: "Arial", sans-serif;
}
/*Botão alterar dados no forms*/
.bt-altera_dados {
  cursor: pointer;
  margin: 0px 50px;
  font-size: 15px;
  border: none;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  background-color: #14213d;
  color: #e5e5e5;
}
/*Foto do perfil*/
.foto {
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  margin: 0 auto;
  position: absolute;
  padding-top: 10vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

label {
  margin-left: 30px;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  display: inline-block;
}
/*Campos do formulário*/
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #2ecc71;
}
/*Botão alterar dados do forms*/
.bt-altera_dados:hover,
.bt-altera_dados:active,
.bt-altera_dados:focus,
.bt-altera_dados:visited,
.bt-altera_dados:link {
  background-color: #666262;
}

input::placeholder {
  color: #666262;
}
/* Aqui é onde fica o forms e a tabela com os dados */
.container_geral {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
