:root {
  --main-bg-color: #ffffff;
  --header-bg-color: #14213d;
  --text-color: #000000;
  --button-bg-color: #14213d;
  --button-text-color: #e5e5e5;
  --accent-color: #3498db;
  --accent-hover-color: #2ecc71;
  --placeholder-color: #666262;
}

/*Onde é mostrado os dados da tabela do banco de dados*/
/* Estilos para o formulário */
.formulario {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

.campo {
  margin-bottom: 20px;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Arial", sans-serif;
}

input {
  width: 99%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: var(--accent-hover-color);
}

.botoes {
  text-align: center; /* Centraliza os botões horizontalmente */
}

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  margin-right: 10px;
}

.logout-form {
  text-align: center; /* Centraliza o botão de logout */
}

button[type="submit"] {
  cursor: pointer;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--accent-color);
}

/* Estilos para as informações do usuário */
.informacao-usuario {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.nome-usuario {
  color: #3498db; /* Cor para o nome do usuário */
}

.email-usuario {
  color: #2ecc71; /* Cor para o email do usuário */
}

.telefone-usuario {
  color: #e74c3c; /* Cor para o telefone do usuário */
}
